{% extends "layout.html" %}

{% block title %}
    Remove
{% endblock %}

{% block main %}
<form action="/remove" method="post">
    <select id="firstSelect" name="genre">
        <option value="" selected disabled>Select an option</option>
        <option value="Movie">Movie</option>
        <option value="Show">TV Show</option>
        <option value="Anime">Anime</option>
        <option value="Manga">Manga/Comics</option>
        <option value="Game">Game</option>
        <option value="Book">Book</option>
    </select>

    <select id="secondSelect" name="title">
    </select>
    <button class="btn btn-primary" type="submit">Remove</button>
</form>
<script>
document.getElementById('firstSelect').addEventListener('change', function() {
    fetch('/get-options?selected=' + this.value)
        .then(response => response.json())
        .then(data => {
            var secondSelect = document.getElementById('secondSelect');
            secondSelect.innerHTML = "";
            data.forEach(option => {
                var opt = document.createElement('option');
                opt.value = option.title;
                opt.innerHTML = option.title;
                secondSelect.appendChild(opt);
            });
        });
});
</script>
{% endblock %}
